name: Build & deploy

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      CI: false
    
    steps:
    - name: checkout code
      uses: actions/checkout@v2
    
    - name: set up node
      uses: actions/setup-node@v1
      with:
        node-version: 16.4.0
    
    - name: build
      env:
        PUBLIC_URL: https://hackle.github.io/leisurely-react-and-typescript-at-odd-hours/
        REACT_APP_AUTH_CLIENT_ID: "S8N9i0qIl2MuQjUHiGPDHsdDDeqDMx4k"
        REACT_APP_AUTH_REDIRECT_URI: "https://hackle.github.io/leisurely-react-and-typescript-at-odd-hours/#/login/callback"
        REACT_APP_AUTH_AUDIENCE: "https://api.reactoddhours.com:3001/"
      run: |
        npm ci
        npm run build
        
    - name: tests
      run: npm test

    - name: Create Sentry release
      uses: getsentry/action-release@v1
      with:
        sourcemaps: ./build/static/js
      env:
        SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        SENTRY_ORG: hacks-hacks
        SENTRY_PROJECT: react-odd-hours

    - name: artifact
      uses: actions/upload-artifact@v2
      with:
        name: build-app
        path: ./build
  
  deploy:
    name: Deploy
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    
    steps:
    - name: fetch artifact
      uses: actions/download-artifact@v2
      with:
        name: build-app
        path: ./build

    - name: Deploy
      if: success()
      uses: crazy-max/ghaction-github-pages@v2
      with:
        target_branch: gh-pages
        build_dir: build
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}